textarea {
  overflow: hidden;
  resize: none;
  height: 59px
}

/* Wrapper */

.app-container .inner {
  width: 100%;
  max-width: 68em;
  margin: 0 auto;
  padding: 0 2.5em;
}

@media screen and (max-width: 736px) {

  .app-container > .inner {
    padding: 0 1.25em;
  }
}
